@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: 100vh;

    background-color: gray;
    /*background-image: url('../imagens/logo-sn.png'), url('../imagens/grupo-bg.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: 65vh, cover;
    background-position: 50% 75%, top;*/
}

header {
    text-align: center;
    margin: 0 auto;
}

.img-otb {
    margin-top: 15px;
    max-width: 400px;
}

header ul {
    margin-top: 10px;
    list-style-type: none;
}

header ul li {
    margin-left: -3px;
    display: inline;
    box-sizing: border-box;
    font-variant: small-caps;
}

header ul a {
    background-color: rgba(0, 0, 0, 0.158);
    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    width: max-content;
    margin-top: 15px;   
    display: none;
    position: absolute;
}

body h1 {
    margin: 17px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.download {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.download a {
    text-decoration: none;
    
    font-family: Arial, Helvetica, sans-serif;

    color: rgb(0, 195, 255);
    font-size: 2em;
    font-weight: bolder;
    font-variant: small-caps;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.514);
}

.download a:hover {
    color: red;
    text-shadow: 0px 0px 50px greenyellow;
}

#fotos {
    margin: auto;
    text-align: center;

    overflow: scroll;
    width: 75%;
    height: 55%;

    background-color: rgba(128, 128, 128, 0.4);
    border: 1px solid black;
}




div.foto {
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(155, 155, 155);
    width: 180px;
    opacity: 0.8;
}

div.foto:hover {
    border: 1px solid white;
    opacity: 1;
}

div.foto img {
    width: 100%;
    height: auto;
}

div.fundo {

    overflow: -moz-hidden-unscrollable;
    width: 100vw;
    height: 100vh;

    background-color: white;
    /*background-image: url('../imagens/logo-sn.png'), url('../imagens/grupo-bg.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: 65vh, contain;
    background-position: 50% 75%, top;*/

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
}

.fundo img.banda {
    display: block;
    margin: auto;
    width: 100%;

    z-index: -1000;
}

.fundo img.logo {
    margin: 0 auto;
    height: 50%;

    top: 40%;
    left: 50%;
    transform: translate(-50%);

    position: absolute;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline;
    margin: 0px 5px;
}